@import './mobile';
@import './default';


#header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    display: flex;
    justify-content: flex-start;
    padding: 2rem 0;
    z-index: 9999999;

    .menu-area{
        display: flex;
        align-items: center;

        .nav-item{
            margin-right: 32px;
        }

        .nav-link{
            font-size: 14px;
            font-weight: 400;
            color: #3F3F3F;
            cursor: pointer;
        }


        @include Large(){
            width: 100%;
            max-width: 500px;
            height: 100vh;
            background-color: #fff;
            position: fixed;
            top: 90px;
            right: 0;
            flex-direction: column;
            z-index: 9999999;


            .nav-item{
                width: 100%;
                margin-right: 0;
                padding: 20px;
            }

            .nav-link{
                text-align: right;
            }
        }
    }

    .bars-ico{
        font-size: 18px;
        cursor: pointer;
        display: none;

        @include Large(){
            display: flex;
        }
    }

    @include Large(){
        justify-content: space-between;
        align-items: center;
    }  
}